<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991386326001-k7naqaljn9at22eohquebsb2ofg80d9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991386326001-k7naqaljn9at22eohquebsb2ofg80d9q</string>
	<key>API_KEY</key>
	<string>AIzaSyCpGEwsiCoQz2VFXkOdsTzZeXADlB2A1FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>991386326001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.chrislang.What-to-Eat</string>
	<key>PROJECT_ID</key>
	<string>i-don-t-care-what-to-eat</string>
	<key>STORAGE_BUCKET</key>
	<string>i-don-t-care-what-to-eat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991386326001:ios:9e3f6fc86eb29fe8b5ea50</string>
</dict>
</plist>